@tailwind base;
@tailwind components;
@tailwind utilities;

.hamburger {
    position: relative;
    width: 24px;
    height: 24px;
    background: none;
    border: none;
}

.hamburger-top,
.hamburger-middle,
.hamburger-bottom {
    position: absolute;
    top: 0;
    left: 0;
    width: 24px;
    height: 2px;
    background: #111;
}

.hamburger-middle {
    transform: translateY(6px);
}

.hamburger-bottom {
    transform: translateY(12px);
}

.open {
    transform: rotate(90deg);
}

.open .hamburger-top {
    transform: rotate(45deg) translateY(6px) translate(6px);
}

.open .hamburger-middle {
    display: none;
}

.open .hamburger-bottom {
    transform: rotate(-45deg) translateY(6px) translate(-6px);
}

